body {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

img {
    width: 50%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    height: 200px;
    align-content: center;
    
}

#photo-template {
    display: none
}

p {
    display: none;
}